<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>SeekerLogin</display-name>
    <servlet-name>SeekerLogin</servlet-name>
    <servlet-class>com.jobportal.controler.SeekerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeekerLogin</servlet-name>
    <url-pattern>/SeekerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.jobportal.controler.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeekerLogoutControl</display-name>
    <servlet-name>SeekerLogoutControl</servlet-name>
    <servlet-class>com.jobportal.dao.SeekerLogoutControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeekerLogoutControl</servlet-name>
    <url-pattern>/SeekerLogoutControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeekerRegisterController</display-name>
    <servlet-name>SeekerRegisterController</servlet-name>
    <servlet-class>com.jobportal.controler.SeekerRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeekerRegisterController</servlet-name>
    <url-pattern>/SeekerRegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeerkerPasswordForget</display-name>
    <servlet-name>SeerkerPasswordForget</servlet-name>
    <servlet-class>com.jobportal.controler.SeerkerPasswordForget</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeerkerPasswordForget</servlet-name>
    <url-pattern>/SeerkerPasswordForget</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeekerProfileCreating</display-name>
    <servlet-name>SeekerProfileCreating</servlet-name>
    <servlet-class>com.jobportal.controler.SeekerProfileCreating</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeekerProfileCreating</servlet-name>
    <url-pattern>/SeekerProfileCreating</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeekerProfileRetriveControler</display-name>
    <servlet-name>SeekerProfileRetriveControler</servlet-name>
    <servlet-class>com.jobportal.controler.SeekerProfileRetriveControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeekerProfileRetriveControler</servlet-name>
    <url-pattern>/SeekerProfileRetriveControler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePassword</display-name>
    <servlet-name>UpdatePassword</servlet-name>
    <servlet-class>com.jobportal.controler.UpdatePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePassword</servlet-name>
    <url-pattern>/UpdatePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeekerLogOut</display-name>
    <servlet-name>SeekerLogOut</servlet-name>
    <servlet-class>com.jobportal.controler.SeekerLogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeekerLogOut</servlet-name>
    <url-pattern>/SeekerLogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminRetriveData</display-name>
    <servlet-name>AdminRetriveData</servlet-name>
    <servlet-class>com.jobportal.controler.AdminRetriveData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminRetriveData</servlet-name>
    <url-pattern>/AdminRetriveData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminuserCreate</display-name>
    <servlet-name>AdminuserCreate</servlet-name>
    <servlet-class>com.jobportal.controler.AdminuserCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminuserCreate</servlet-name>
    <url-pattern>/AdminuserCreate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminNewUserController</display-name>
    <servlet-name>AdminNewUserController</servlet-name>
    <servlet-class>com.jobportal.controler.AdminNewUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminNewUserController</servlet-name>
    <url-pattern>/AdminNewUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProfileEdite</display-name>
    <servlet-name>AdminProfileEdite</servlet-name>
    <servlet-class>com.jobportal.controler.AdminProfileEdite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProfileEdite</servlet-name>
    <url-pattern>/AdminProfileEdite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProfileView</display-name>
    <servlet-name>AdminProfileView</servlet-name>
    <servlet-class>com.jobportal.controler.AdminProfileView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProfileView</servlet-name>
    <url-pattern>/AdminProfileView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminJobSeekerEdit</display-name>
    <servlet-name>AdminJobSeekerEdit</servlet-name>
    <servlet-class>com.jobportal.controler.AdminJobSeekerEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminJobSeekerEdit</servlet-name>
    <url-pattern>/AdminJobSeekerEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminJobSeekerView</display-name>
    <servlet-name>AdminJobSeekerView</servlet-name>
    <servlet-class>com.jobportal.controler.AdminJobSeekerView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminJobSeekerView</servlet-name>
    <url-pattern>/AdminJobSeekerView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEmployerView</display-name>
    <servlet-name>AdminEmployerView</servlet-name>
    <servlet-class>com.jobportal.controler.AdminEmployerView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEmployerView</servlet-name>
    <url-pattern>/AdminEmployerView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSeekerEdit</display-name>
    <servlet-name>AdminSeekerEdit</servlet-name>
    <servlet-class>com.jobportal.controler.AdminSeekerEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSeekerEdit</servlet-name>
    <url-pattern>/AdminSeekerEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminJobsView</display-name>
    <servlet-name>AdminJobsView</servlet-name>
    <servlet-class>com.jobportal.controler.AdminJobsView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminJobsView</servlet-name>
    <url-pattern>/AdminJobsView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobsController</display-name>
    <servlet-name>JobsController</servlet-name>
    <servlet-class>com.jobportal.controler.JobsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobsController</servlet-name>
    <url-pattern>/JobsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogout</display-name>
    <servlet-name>AdminLogout</servlet-name>
    <servlet-class>com.jobportal.controler.AdminLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogout</servlet-name>
    <url-pattern>/AdminLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminJobSeekerEditController</display-name>
    <servlet-name>AdminJobSeekerEditController</servlet-name>
    <servlet-class>com.jobportal.controler.AdminJobSeekerEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminJobSeekerEditController</servlet-name>
    <url-pattern>/AdminJobSeekerEditController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppliedJobController</display-name>
    <servlet-name>AppliedJobController</servlet-name>
    <servlet-class>com.jobportal.controler.AppliedJobController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppliedJobController</servlet-name>
    <url-pattern>/AppliedJobController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeekerPasswordRestController</display-name>
    <servlet-name>SeekerPasswordRestController</servlet-name>
    <servlet-class>com.jobportal.controler.SeekerPasswordRestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeekerPasswordRestController</servlet-name>
    <url-pattern>/SeekerPasswordRestController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeekerApplyJob</display-name>
    <servlet-name>SeekerApplyJob</servlet-name>
    <servlet-class>com.jobportal.controler.SeekerApplyJob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeekerApplyJob</servlet-name>
    <url-pattern>/SeekerApplyJob</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobSearchController</display-name>
    <servlet-name>JobSearchController</servlet-name>
    <servlet-class>com.jobportal.controler.JobSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobSearchController</servlet-name>
    <url-pattern>/JobSearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminJobEdit</display-name>
    <servlet-name>AdminJobEdit</servlet-name>
    <servlet-class>com.jobportal.controler.AdminJobEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminJobEdit</servlet-name>
    <url-pattern>/AdminJobEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashBordContentController</display-name>
    <servlet-name>DashBordContentController</servlet-name>
    <servlet-class>com.jobportal.controler.DashBordContentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashBordContentController</servlet-name>
    <url-pattern>/DashBordContentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeekerPasswordView</display-name>
    <servlet-name>SeekerPasswordView</servlet-name>
    <servlet-class>com.jobportal.controler.SeekerPasswordView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeekerPasswordView</servlet-name>
    <url-pattern>/SeekerPasswordView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeekerRegister</display-name>
    <servlet-name>SeekerRegister</servlet-name>
    <servlet-class>com.jobportal.controler.SeekerRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeekerRegister</servlet-name>
    <url-pattern>/SeekerRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResumeDownload</display-name>
    <servlet-name>ResumeDownload</servlet-name>
    <servlet-class>com.jobportal.controler.ResumeDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResumeDownload</servlet-name>
    <url-pattern>/ResumeDownload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobSeekerProfileRetriveController</display-name>
    <servlet-name>JobSeekerProfileRetriveController</servlet-name>
    <servlet-class>com.jobportal.controler.JobSeekerProfileRetriveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobSeekerProfileRetriveController</servlet-name>
    <url-pattern>/JobSeekerProfileRetriveController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeekerProfileEdit</display-name>
    <servlet-name>SeekerProfileEdit</servlet-name>
    <servlet-class>com.jobportal.controler.SeekerProfileEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeekerProfileEdit</servlet-name>
    <url-pattern>/SeekerProfileEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeekerProfileEditController</display-name>
    <servlet-name>SeekerProfileEditController</servlet-name>
    <servlet-class>com.jobportal.controler.SeekerProfileEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeekerProfileEditController</servlet-name>
    <url-pattern>/SeekerProfileEditController</url-pattern>
  </servlet-mapping>
</web-app>