<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" metadata-complete="false" version="5.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.lms.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashboardController</display-name>
    <servlet-name>DashboardController</servlet-name>
    <servlet-class>com.lms.controller.DashboardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardController</servlet-name>
    <url-pattern>/DashboardController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerDashboardController</display-name>
    <servlet-name>ManagerDashboardController</servlet-name>
    <servlet-class>com.lms.controller.ManagerDashboardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerDashboardController</servlet-name>
    <url-pattern>/ManagerDashboardController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileController</display-name>
    <servlet-name>ProfileController</servlet-name>
    <servlet-class>com.lms.controller.ProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileController</servlet-name>
    <url-pattern>/ProfileController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeavesController</display-name>
    <servlet-name>LeavesController</servlet-name>
    <servlet-class>com.lms.controller.LeavesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeavesController</servlet-name>
    <url-pattern>/LeavesController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.lms.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditLeaveController</display-name>
    <servlet-name>EditLeaveController</servlet-name>
    <servlet-class>com.lms.controller.EditLeaveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditLeaveController</servlet-name>
    <url-pattern>/EditLeaveController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteLeaveController</display-name>
    <servlet-name>DeleteLeaveController</servlet-name>
    <servlet-class>com.lms.controller.DeleteLeaveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteLeaveController</servlet-name>
    <url-pattern>/DeleteLeaveController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HistoryController</display-name>
    <servlet-name>HistoryController</servlet-name>
    <servlet-class>com.lms.controller.HistoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistoryController</servlet-name>
    <url-pattern>/HistoryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerProfile</display-name>
    <servlet-name>ManagerProfile</servlet-name>
    <servlet-class>com.lms.controller.ManagerProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerProfile</servlet-name>
    <url-pattern>/ManagerProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTeamController</display-name>
    <servlet-name>ViewTeamController</servlet-name>
    <servlet-class>com.lms.controller.ViewTeamController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTeamController</servlet-name>
    <url-pattern>/ViewTeamController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeaveRequestController</display-name>
    <servlet-name>LeaveRequestController</servlet-name>
    <servlet-class>com.lms.controller.LeaveRequestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaveRequestController</servlet-name>
    <url-pattern>/LeaveRequestController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveController</display-name>
    <servlet-name>ApproveController</servlet-name>
    <servlet-class>com.lms.controller.ApproveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveController</servlet-name>
    <url-pattern>/ApproveController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignApproveController</display-name>
    <servlet-name>AssignApproveController</servlet-name>
    <servlet-class>com.lms.controller.AssignApproveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignApproveController</servlet-name>
    <url-pattern>/AssignApproveController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RejectLeaveController</display-name>
    <servlet-name>RejectLeaveController</servlet-name>
    <servlet-class>com.lms.controller.RejectLeaveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectLeaveController</servlet-name>
    <url-pattern>/RejectLeaveController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalenderController</display-name>
    <servlet-name>CalenderController</servlet-name>
    <servlet-class>com.lms.controller.CalenderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalenderController</servlet-name>
    <url-pattern>/CalenderController</url-pattern>
  </servlet-mapping>
</web-app>