<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginUserServlet</display-name>
    <servlet-name>LoginUserServlet</servlet-name>
    <servlet-class>com.hotelmanagement.controller.LoginUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUserServlet</servlet-name>
    <url-pattern>/LoginUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.hotelmanagement.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAdminServlet</display-name>
    <servlet-name>LoginAdminServlet</servlet-name>
    <servlet-class>com.hotelmanagement.controller.LoginAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdminServlet</servlet-name>
    <url-pattern>/LoginAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffServlet</display-name>
    <servlet-name>StaffServlet</servlet-name>
    <servlet-class>com.hotelmanagement.controller.StaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffServlet</servlet-name>
    <url-pattern>/StaffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertStaffServlet</display-name>
    <servlet-name>InsertStaffServlet</servlet-name>
    <servlet-class>com.hotelmanagement.controller.InsertStaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertStaffServlet</servlet-name>
    <url-pattern>/InsertStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListStaffServlet</display-name>
    <servlet-name>ListStaffServlet</servlet-name>
    <servlet-class>com.hotelmanagement.controller.ListStaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListStaffServlet</servlet-name>
    <url-pattern>/ListStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertKeeperServlet</display-name>
    <servlet-name>InsertKeeperServlet</servlet-name>
    <servlet-class>com.hotelmanagement.controller.InsertKeeperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertKeeperServlet</servlet-name>
    <url-pattern>/InsertKeeperServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListKeeperServlet</display-name>
    <servlet-name>ListKeeperServlet</servlet-name>
    <servlet-class>com.hotelmanagement.controller.ListKeeperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListKeeperServlet</servlet-name>
    <url-pattern>/ListKeeperServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRoomServlet</display-name>
    <servlet-name>AddRoomServlet</servlet-name>
    <servlet-class>com.hotelmanagement.controller.AddRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRoomServlet</servlet-name>
    <url-pattern>/AddRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditRoomServlet</display-name>
    <servlet-name>EditRoomServlet</servlet-name>
    <servlet-class>com.hotelmanagement.controller.EditRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditRoomServlet</servlet-name>
    <url-pattern>/EditRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListRoomsServlet</display-name>
    <servlet-name>ListRoomsServlet</servlet-name>
    <servlet-class>com.hotelmanagement.controller.ListRoomsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListRoomsServlet</servlet-name>
    <url-pattern>/ListRoomsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRoomServlet</display-name>
    <servlet-name>DeleteRoomServlet</servlet-name>
    <servlet-class>com.hotelmanagement.controller.DeleteRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRoomServlet</servlet-name>
    <url-pattern>/DeleteRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRoomTypeServlet</display-name>
    <servlet-name>AddRoomTypeServlet</servlet-name>
    <servlet-class>com.hotelmanagement.controller.AddRoomTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRoomTypeServlet</servlet-name>
    <url-pattern>/AddRoomTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditRoomTypesServlet</display-name>
    <servlet-name>EditRoomTypesServlet</servlet-name>
    <servlet-class>com.hotelmanagement.controller.EditRoomTypesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditRoomTypesServlet</servlet-name>
    <url-pattern>/EditRoomTypesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRoomTypeServlet</display-name>
    <servlet-name>DeleteRoomTypeServlet</servlet-name>
    <servlet-class>com.hotelmanagement.controller.DeleteRoomTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRoomTypeServlet</servlet-name>
    <url-pattern>/DeleteRoomTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListRoomTypeServlet</display-name>
    <servlet-name>ListRoomTypeServlet</servlet-name>
    <servlet-class>com.hotelmanagement.controller.ListRoomTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListRoomTypeServlet</servlet-name>
    <url-pattern>/ListRoomTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCustomer</display-name>
    <servlet-name>ViewCustomer</servlet-name>
    <servlet-class>com.hotelmanagement.controller.ViewCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCustomer</servlet-name>
    <url-pattern>/ViewCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStaffServlet</display-name>
    <servlet-name>EditStaffServlet</servlet-name>
    <servlet-class>com.hotelmanagement.controller.EditStaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStaffServlet</servlet-name>
    <url-pattern>/EditStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.hotelmanagement.controller.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBooking</display-name>
    <servlet-name>ViewBooking</servlet-name>
    <servlet-class>com.hotelmanagement.controller.ViewBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBooking</servlet-name>
    <url-pattern>/ViewBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditKeeperServlet</display-name>
    <servlet-name>EditKeeperServlet</servlet-name>
    <servlet-class>com.hotelmanagement.controller.EditKeeperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditKeeperServlet</servlet-name>
    <url-pattern>/EditKeeperServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProfileServlet</display-name>
    <servlet-name>ViewProfileServlet</servlet-name>
    <servlet-class>com.hotelmanagement.controller.ViewProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProfileServlet</servlet-name>
    <url-pattern>/ViewProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditAccountServlet</display-name>
    <servlet-name>EditAccountServlet</servlet-name>
    <servlet-class>com.hotelmanagement.controller.EditAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAccountServlet</servlet-name>
    <url-pattern>/EditAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteKeeperServlet</display-name>
    <servlet-name>DeleteKeeperServlet</servlet-name>
    <servlet-class>com.hotelmanagement.controller.DeleteKeeperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteKeeperServlet</servlet-name>
    <url-pattern>/DeleteKeeperServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutUserServlet</display-name>
    <servlet-name>LogoutUserServlet</servlet-name>
    <servlet-class>com.hotelmanagement.controller.LogoutUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutUserServlet</servlet-name>
    <url-pattern>/LogoutUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutAdminServlet</display-name>
    <servlet-name>LogoutAdminServlet</servlet-name>
    <servlet-class>com.hotelmanagement.controller.LogoutAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutAdminServlet</servlet-name>
    <url-pattern>/LogoutAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dashboard</display-name>
    <servlet-name>Dashboard</servlet-name>
    <servlet-class>com.hotelmanagement.controller.Dashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dashboard</servlet-name>
    <url-pattern>/Dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoomServlet</display-name>
    <servlet-name>RoomServlet</servlet-name>
    <servlet-class>com.hotelmanagement.controller.RoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomServlet</servlet-name>
    <url-pattern>/RoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRoomNumbers</display-name>
    <servlet-name>GetRoomNumbers</servlet-name>
    <servlet-class>com.hotelmanagement.controller.GetRoomNumbers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRoomNumbers</servlet-name>
    <url-pattern>/GetRoomNumbers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoomDetailServlet</display-name>
    <servlet-name>RoomDetailServlet</servlet-name>
    <servlet-class>com.hotelmanagement.controller.RoomDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomDetailServlet</servlet-name>
    <url-pattern>/RoomDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoubleRoomServlet</display-name>
    <servlet-name>DoubleRoomServlet</servlet-name>
    <servlet-class>com.hotelmanagement.controller.DoubleRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoubleRoomServlet</servlet-name>
    <url-pattern>/DoubleRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LuxuryRoomServlet</display-name>
    <servlet-name>LuxuryRoomServlet</servlet-name>
    <servlet-class>com.hotelmanagement.controller.LuxuryRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LuxuryRoomServlet</servlet-name>
    <url-pattern>/LuxuryRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeluxeRoomServlet</display-name>
    <servlet-name>DeluxeRoomServlet</servlet-name>
    <servlet-class>com.hotelmanagement.controller.DeluxeRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeluxeRoomServlet</servlet-name>
    <url-pattern>/DeluxeRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommonRoomServlet</display-name>
    <servlet-name>CommonRoomServlet</servlet-name>
    <servlet-class>com.hotelmanagement.controller.CommonRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommonRoomServlet</servlet-name>
    <url-pattern>/CommonRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AvailableRoomsServlet</display-name>
    <servlet-name>AvailableRoomsServlet</servlet-name>
    <servlet-class>com.hotelmanagement.controller.AvailableRoomsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AvailableRoomsServlet</servlet-name>
    <url-pattern>/AvailableRoomsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingServlet</display-name>
    <servlet-name>BookingServlet</servlet-name>
    <servlet-class>com.hotelmanagement.controller.BookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingServlet</servlet-name>
    <url-pattern>/BookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentServlet</display-name>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>com.hotelmanagement.controller.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentServlet</servlet-name>
    <url-pattern>/PaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchProfileServlet</display-name>
    <servlet-name>FetchProfileServlet</servlet-name>
    <servlet-class>com.hotelmanagement.controller.FetchProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchProfileServlet</servlet-name>
    <url-pattern>/FetchProfileServlet</url-pattern>
  </servlet-mapping>
</web-app>