<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>carrental</display-name>
  <absolute-ordering/>
  <welcome-file-list>
    <welcome-file>/views/user/loginpage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminInsertCarServlet</display-name>
    <servlet-name>AdminInsertCarServlet</servlet-name>
    <servlet-class>com.carrentalsystem.controller.AdminInsertCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminInsertCarServlet</servlet-name>
    <url-pattern>/AdminInsertCarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminListCarServlet </display-name>
    <servlet-name>AdminListCarServlet</servlet-name>
    <servlet-class>com.carrentalsystem.controller.AdminListCarServlet </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminListCarServlet</servlet-name>
    <url-pattern>/AdminListCarServlet </url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserControllerServlet</display-name>
    <servlet-name>UserControllerServlet</servlet-name>
    <servlet-class>com.carrentalsystem.controller.UserControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserControllerServlet</servlet-name>
    <url-pattern>/UserControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDashboardServlet</display-name>
    <servlet-name>AdminDashboardServlet</servlet-name>
    <servlet-class>com.carrentalsystem.controller.AdminDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDashboardServlet</servlet-name>
    <url-pattern>/AdminDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingServlet</display-name>
    <servlet-name>BookingServlet</servlet-name>
    <servlet-class>com.carrentalsystem.controller.BookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingServlet</servlet-name>
    <url-pattern>/BookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>CarAvailabilityServlet</servlet-name>
    <servlet-class>com.carrentalsystem.controller.CarAvailabilityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarAvailabilityServlet</servlet-name>
    <url-pattern>/CarAvailabilityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.carrentalsystem.controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarTempServlet</display-name>
    <servlet-name>CarTempServlet</servlet-name>
    <servlet-class>com.carrentalsystem.controller.CarTempServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarTempServlet</servlet-name>
    <url-pattern>/CarTempServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.carrentalsystem.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.carrentalsystem.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
</web-app>