@charset "ISO-8859-1";

    body {
      background-color: #f8f9fa;
    }
    .navbar {
      background-color: #343a40; /* Dark background color */
    }
    .navbar-brand {
      color: #fff; /* White text */
      font-size: 1.5rem; /* Larger font size */
      font-weight: bold; /* Bold text */
    }
    .card {
      max-width: 400px;
      margin: auto;
      margin-top: 50px;
      padding: 30px;
      border: 1px solid #ddd;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      position: relative; /* Ensure relative positioning for absolute elements */
    }
    .back-button {
      position: absolute;
      top: 10px;
      left: 10px;
    }
    .error-message {
      color: red;
      font-size: 0.875rem;
      margin-top: 0.25rem;
    }
  