<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" metadata-complete="false" version="5.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>CustomerLoginController</display-name>
    <servlet-name>CustomerLoginController</servlet-name>
    <servlet-class>com.letsbuy.controllers.CustomerLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLoginController</servlet-name>
    <url-pattern>/CustomerLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoServlet</display-name>
    <servlet-name>DemoServlet</servlet-name>
    <servlet-class>com.letsbuy.controllers.DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet</servlet-name>
    <url-pattern>/DemoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerRegisterController</display-name>
    <servlet-name>CustomerRegisterController</servlet-name>
    <servlet-class>com.letsbuy.controllers.CustomerRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerRegisterController</servlet-name>
    <url-pattern>/CustomerRegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerCartController</display-name>
    <servlet-name>CustomerCartController</servlet-name>
    <servlet-class>com.letsbuy.controllers.CustomerCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerCartController</servlet-name>
    <url-pattern>/CustomerCartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLogoutController</display-name>
    <servlet-name>CustomerLogoutController</servlet-name>
    <servlet-class>com.letsbuy.controllers.CustomerLogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLogoutController</servlet-name>
    <url-pattern>/CustomerLogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginController</display-name>
    <servlet-name>AdminLoginController</servlet-name>
    <servlet-class>com.letsbuy.controllers.AdminLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginController</servlet-name>
    <url-pattern>/AdminLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerManagementController</display-name>
    <servlet-name>CustomerManagementController</servlet-name>
    <servlet-class>com.letsbuy.controllers.CustomerManagementController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerManagementController</servlet-name>
    <url-pattern>/CustomerManagementController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerManagementEditController</display-name>
    <servlet-name>CustomerManagementEditController</servlet-name>
    <servlet-class>com.letsbuy.controllers.CustomerManagementEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerManagementEditController</servlet-name>
    <url-pattern>/CustomerManagementEditController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerManagementDeleteController</display-name>
    <servlet-name>CustomerManagementDeleteController</servlet-name>
    <servlet-class>com.letsbuy.controllers.CustomerManagementDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerManagementDeleteController</servlet-name>
    <url-pattern>/CustomerManagementDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SellerManagementController</display-name>
    <servlet-name>SellerManagementController</servlet-name>
    <servlet-class>com.letsbuy.controllers.SellerManagementController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellerManagementController</servlet-name>
    <url-pattern>/SellerManagementController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SellerManagementEditController</display-name>
    <servlet-name>SellerManagementEditController</servlet-name>
    <servlet-class>com.letsbuy.controllers.SellerManagementEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellerManagementEditController</servlet-name>
    <url-pattern>/SellerManagementEditController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SellerManagementDeleteController</display-name>
    <servlet-name>SellerManagementDeleteController</servlet-name>
    <servlet-class>com.letsbuy.controllers.SellerManagementDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellerManagementDeleteController</servlet-name>
    <url-pattern>/SellerManagementDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductManagementController</display-name>
    <servlet-name>ProductManagementController</servlet-name>
    <servlet-class>com.letsbuy.controllers.ProductManagementController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductManagementController</servlet-name>
    <url-pattern>/ProductManagementController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductManagementEditController</display-name>
    <servlet-name>ProductManagementEditController</servlet-name>
    <servlet-class>com.letsbuy.controllers.ProductManagementEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductManagementEditController</servlet-name>
    <url-pattern>/ProductManagementEditController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductManagementDeleteController</display-name>
    <servlet-name>ProductManagementDeleteController</servlet-name>
    <servlet-class>com.letsbuy.controllers.ProductManagementDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductManagementDeleteController</servlet-name>
    <url-pattern>/ProductManagementDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryManagementController</display-name>
    <servlet-name>CategoryManagementController</servlet-name>
    <servlet-class>com.letsbuy.controllers.CategoryManagementController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryManagementController</servlet-name>
    <url-pattern>/CategoryManagementController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryManagementEditController</display-name>
    <servlet-name>CategoryManagementEditController</servlet-name>
    <servlet-class>com.letsbuy.controllers.CategoryManagementEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryManagementEditController</servlet-name>
    <url-pattern>/CategoryManagementEditController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryManagementDeleteController</display-name>
    <servlet-name>CategoryManagementDeleteController</servlet-name>
    <servlet-class>com.letsbuy.controllers.CategoryManagementDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryManagementDeleteController</servlet-name>
    <url-pattern>/CategoryManagementDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryManagementAddController</display-name>
    <servlet-name>CategoryManagementAddController</servlet-name>
    <servlet-class>com.letsbuy.controllers.CategoryManagementAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryManagementAddController</servlet-name>
    <url-pattern>/CategoryManagementAddController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubCategoryManagementController</display-name>
    <servlet-name>SubCategoryManagementController</servlet-name>
    <servlet-class>com.letsbuy.controllers.SubCategoryManagementController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubCategoryManagementController</servlet-name>
    <url-pattern>/SubCategoryManagementController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubCategoryManagementAddController</display-name>
    <servlet-name>SubCategoryManagementAddController</servlet-name>
    <servlet-class>com.letsbuy.controllers.SubCategoryManagementAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubCategoryManagementAddController</servlet-name>
    <url-pattern>/SubCategoryManagementAddController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubCategoryManagementEditController</display-name>
    <servlet-name>SubCategoryManagementEditController</servlet-name>
    <servlet-class>com.letsbuy.controllers.SubCategoryManagementEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubCategoryManagementEditController</servlet-name>
    <url-pattern>/SubCategoryManagementEditController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubCategoryManagementDeleteController</display-name>
    <servlet-name>SubCategoryManagementDeleteController</servlet-name>
    <servlet-class>com.letsbuy.controllers.SubCategoryManagementDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubCategoryManagementDeleteController</servlet-name>
    <url-pattern>/SubCategoryManagementDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDashboardServlet</display-name>
    <servlet-name>AdminDashboardServlet</servlet-name>
    <servlet-class>com.letsbuy.controllers.AdminDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDashboardServlet</servlet-name>
    <url-pattern>/AdminDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDashBoardController</display-name>
    <servlet-name>AdminDashBoardController</servlet-name>
    <servlet-class>com.letsbuy.controllers.AdminDashBoardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDashBoardController</servlet-name>
    <url-pattern>/AdminDashBoardController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogoutController</display-name>
    <servlet-name>AdminLogoutController</servlet-name>
    <servlet-class>com.letsbuy.controllers.AdminLogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogoutController</servlet-name>
    <url-pattern>/AdminLogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminManagementController</display-name>
    <servlet-name>AdminManagementController</servlet-name>
    <servlet-class>com.letsbuy.controllers.AdminManagementController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminManagementController</servlet-name>
    <url-pattern>/AdminManagementController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerMobileDataController</display-name>
    <servlet-name>CustomerMobileDataController</servlet-name>
    <servlet-class>com.letsbuy.controllers.CustomerMobileDataController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerMobileDataController</servlet-name>
    <url-pattern>/CustomerMobileDataController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerEmailDataController</display-name>
    <servlet-name>CustomerEmailDataController</servlet-name>
    <servlet-class>com.letsbuy.controllers.CustomerEmailDataController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerEmailDataController</servlet-name>
    <url-pattern>/CustomerEmailDataController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerUsernameDataController</display-name>
    <servlet-name>CustomerUsernameDataController</servlet-name>
    <servlet-class>com.letsbuy.controllers.CustomerUsernameDataController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerUsernameDataController</servlet-name>
    <url-pattern>/CustomerUsernameDataController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MobilesPageController</display-name>
    <servlet-name>MobilesPageController</servlet-name>
    <servlet-class>com.letsbuy.controllers.MobilesPageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MobilesPageController</servlet-name>
    <url-pattern>/MobilesPageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MobileViewPageController</display-name>
    <servlet-name>MobileViewPageController</servlet-name>
    <servlet-class>com.letsbuy.controllers.MobileViewPageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MobileViewPageController</servlet-name>
    <url-pattern>/MobileViewPageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductAddCartController</display-name>
    <servlet-name>ProductAddCartController</servlet-name>
    <servlet-class>com.letsbuy.controllers.ProductAddCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductAddCartController</servlet-name>
    <url-pattern>/ProductAddCartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductMakeOrderController</display-name>
    <servlet-name>ProductMakeOrderController</servlet-name>
    <servlet-class>com.letsbuy.controllers.ProductMakeOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductMakeOrderController</servlet-name>
    <url-pattern>/ProductMakeOrderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerOrdersController</display-name>
    <servlet-name>CustomerOrdersController</servlet-name>
    <servlet-class>com.letsbuy.controllers.CustomerOrdersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerOrdersController</servlet-name>
    <url-pattern>/CustomerOrdersController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartProductIncrementController</display-name>
    <servlet-name>CartProductIncrementController</servlet-name>
    <servlet-class>com.letsbuy.controllers.CartProductIncrementController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartProductIncrementController</servlet-name>
    <url-pattern>/CartProductIncrementController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartProductDecrementController</display-name>
    <servlet-name>CartProductDecrementController</servlet-name>
    <servlet-class>com.letsbuy.controllers.CartProductDecrementController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartProductDecrementController</servlet-name>
    <url-pattern>/CartProductDecrementController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductOrderPaymentController</display-name>
    <servlet-name>ProductOrderPaymentController</servlet-name>
    <servlet-class>com.letsbuy.controllers.ProductOrderPaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductOrderPaymentController</servlet-name>
    <url-pattern>/ProductOrderPaymentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAdminController</display-name>
    <servlet-name>AddAdminController</servlet-name>
    <servlet-class>com.letsbuy.controllers.AddAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdminController</servlet-name>
    <url-pattern>/AddAdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProfileEditController</display-name>
    <servlet-name>AdminProfileEditController</servlet-name>
    <servlet-class>com.letsbuy.controllers.AdminProfileEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProfileEditController</servlet-name>
    <url-pattern>/AdminProfileEditController</url-pattern>
  </servlet-mapping>
</web-app>