<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" metadata-complete="false" version="5.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>LoginAuthentication</display-name>
    <servlet-name>LoginAuthentication</servlet-name>
    <servlet-class>com.testHub.controller.LoginAuthentication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAuthentication</servlet-name>
    <url-pattern>/LoginAuthentication</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertStudentServlet</display-name>
    <servlet-name>InsertStudentServlet</servlet-name>
    <servlet-class>com.testHub.controller.InsertStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertStudentServlet</servlet-name>
    <url-pattern>/InsertStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>/ListStudentServlet</display-name>
    <servlet-name>ListStudentServlet</servlet-name>
    <servlet-class>com.testHub.controller.ListStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListStudentServlet</servlet-name>
    <url-pattern>/ListStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStudentServlet</display-name>
    <servlet-name>EditStudentServlet</servlet-name>
    <servlet-class>com.testHub.controller.EditStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStudentServlet</servlet-name>
    <url-pattern>/EditStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudentServlet</display-name>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <servlet-class>com.testHub.controller.DeleteStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <url-pattern>/DeleteStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentHomeServlet</display-name>
    <servlet-name>StudentHomeServlet</servlet-name>
    <servlet-class>com.testHub.controller.StudentHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentHomeServlet</servlet-name>
    <url-pattern>/StudentHomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssessmentServlet</display-name>
    <servlet-name>AssessmentServlet</servlet-name>
    <servlet-class>com.testHub.controller.AssessmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssessmentServlet</servlet-name>
    <url-pattern>/AssessmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertTeacherServlet</display-name>
    <servlet-name>InsertTeacherServlet</servlet-name>
    <servlet-class>com.testHub.controller.InsertTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertTeacherServlet</servlet-name>
    <url-pattern>/InsertTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListTeacherServlet</display-name>
    <servlet-name>ListTeacherServlet</servlet-name>
    <servlet-class>com.testHub.controller.ListTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListTeacherServlet</servlet-name>
    <url-pattern>/ListTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditTeacherServlet</display-name>
    <servlet-name>EditTeacherServlet</servlet-name>
    <servlet-class>com.testHub.controller.EditTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTeacherServlet</servlet-name>
    <url-pattern>/EditTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTeacherServlet</display-name>
    <servlet-name>DeleteTeacherServlet</servlet-name>
    <servlet-class>com.testHub.controller.DeleteTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTeacherServlet</servlet-name>
    <url-pattern>/DeleteTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchQuestionServlet</display-name>
    <servlet-name>FetchQuestionServlet</servlet-name>
    <servlet-class>com.testHub.controller.FetchQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchQuestionServlet</servlet-name>
    <url-pattern>/FetchQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.testHub.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreQuestionServlet</display-name>
    <servlet-name>StoreQuestionServlet</servlet-name>
    <servlet-class>com.testHub.controller.StoreQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreQuestionServlet</servlet-name>
    <url-pattern>/StoreQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalculateTotalMarksServlet</display-name>
    <servlet-name>CalculateTotalMarksServlet</servlet-name>
    <servlet-class>com.testHub.controller.CalculateTotalMarksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculateTotalMarksServlet</servlet-name>
    <url-pattern>/CalculateTotalMarksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestToHomeServlet</display-name>
    <servlet-name>TestToHomeServlet</servlet-name>
    <servlet-class>com.testHub.controller.TestToHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestToHomeServlet</servlet-name>
    <url-pattern>/TestToHomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssessmentScoreServlet</display-name>
    <servlet-name>AssessmentScoreServlet</servlet-name>
    <servlet-class>com.testHub.controller.AssessmentScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssessmentScoreServlet</servlet-name>
    <url-pattern>/AssessmentScoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchCoursesServlet</display-name>
    <servlet-name>FetchCoursesServlet</servlet-name>
    <servlet-class>com.testHub.controller.FetchCoursesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchCoursesServlet</servlet-name>
    <url-pattern>/FetchCoursesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchTeachersServlet</display-name>
    <servlet-name>FetchTeachersServlet</servlet-name>
    <servlet-class>com.testHub.controller.FetchTeachersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchTeachersServlet</servlet-name>
    <url-pattern>/FetchTeachersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherHomeServlet</display-name>
    <servlet-name>TeacherHomeServlet</servlet-name>
    <servlet-class>com.testHub.controller.TeacherHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherHomeServlet</servlet-name>
    <url-pattern>/TeacherHomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherAssessmentServlet</display-name>
    <servlet-name>TeacherAssessmentServlet</servlet-name>
    <servlet-class>com.testHub.controller.TeacherAssessmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherAssessmentServlet</servlet-name>
    <url-pattern>/TeacherAssessmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAssessmentServlet</display-name>
    <servlet-name>AddAssessmentServlet</servlet-name>
    <servlet-class>com.testHub.controller.AddAssessmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAssessmentServlet</servlet-name>
    <url-pattern>/AddAssessmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewResultsServlet</display-name>
    <servlet-name>ViewResultsServlet</servlet-name>
    <servlet-class>com.testHub.controller.ViewResultsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewResultsServlet</servlet-name>
    <url-pattern>/ViewResultsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DirectToEditServlet</display-name>
    <servlet-name>DirectToEditServlet</servlet-name>
    <servlet-class>com.testHub.controller.DirectToEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DirectToEditServlet</servlet-name>
    <url-pattern>/DirectToEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewQuestionServlet</display-name>
    <servlet-name>AddNewQuestionServlet</servlet-name>
    <servlet-class>com.testHub.controller.AddNewQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewQuestionServlet</servlet-name>
    <url-pattern>/AddNewQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteQuestionFromAssessmentServlet</display-name>
    <servlet-name>DeleteQuestionFromAssessmentServlet</servlet-name>
    <servlet-class>com.testHub.controller.DeleteQuestionFromAssessmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteQuestionFromAssessmentServlet</servlet-name>
    <url-pattern>/DeleteQuestionFromAssessmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddQuestionToAssessmentServlet</display-name>
    <servlet-name>AddQuestionToAssessmentServlet</servlet-name>
    <servlet-class>com.testHub.controller.AddQuestionToAssessmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQuestionToAssessmentServlet</servlet-name>
    <url-pattern>/AddQuestionToAssessmentServlet</url-pattern>
  </servlet-mapping>
</web-app>