<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>AddHallServlet</display-name>
    <servlet-name>AddHallServlet</servlet-name>
    <servlet-class>com.hallbookingmanagement.controller.AddHallServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.hallbookingmanagement.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.hallbookingmanagement.controller.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>CustomerManagementServlet</display-name>
    <servlet-name>CustomerManagementServlet</servlet-name>
    <servlet-class>com.hallbookingmanagement.controller.CustomerManagementServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DashBoardServlet</display-name>
    <servlet-name>DashBoardServlet</servlet-name>
    <servlet-class>com.hallbookingmanagement.controller.DashBoardServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>HallManagementServlet</display-name>
    <servlet-name>HallManagementServlet</servlet-name>
    <servlet-class>com.hallbookingmanagement.controller.HallManagementServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.hallbookingmanagement.controller.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>PaymentManagementServlet</display-name>
    <servlet-name>PaymentManagementServlet</servlet-name>
    <servlet-class>com.hallbookingmanagement.controller.PaymentManagementServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.hallbookingmanagement.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHallServlet</servlet-name>
    <url-pattern>/AddHallServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerManagementServlet</servlet-name>
    <url-pattern>/CustomerManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DashBoardServlet</servlet-name>
    <url-pattern>/DashBoardServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HallManagementServlet</servlet-name>
    <url-pattern>/HallManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PaymentManagementServlet</servlet-name>
    <url-pattern>/PaymentManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingManagementServlet</display-name>
    <servlet-name>BookingManagementServlet</servlet-name>
    <servlet-class>com.hallbookingmanagement.controller.BookingManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingManagementServlet</servlet-name>
    <url-pattern>/BookingManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditBookingController</display-name>
    <servlet-name>EditBookingController</servlet-name>
    <servlet-class>com.hallbookingmanagement.controller.EditBookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBookingController</servlet-name>
    <url-pattern>/EditBookingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCustomerController</display-name>
    <servlet-name>EditCustomerController</servlet-name>
    <servlet-class>com.hallbookingmanagement.controller.EditCustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCustomerController</servlet-name>
    <url-pattern>/EditCustomerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteHallServlet</display-name>
    <servlet-name>DeleteHallServlet</servlet-name>
    <servlet-class>com.hallbookingmanagement.controller.DeleteHallServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteHallServlet</servlet-name>
    <url-pattern>/DeleteHallServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditHallServlet</display-name>
    <servlet-name>EditHallServlet</servlet-name>
    <servlet-class>com.hallbookingmanagement.controller.EditHallServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditHallServlet</servlet-name>
    <url-pattern>/EditHallServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPasswordServlet</display-name>
    <servlet-name>ForgetPasswordServlet</servlet-name>
    <servlet-class>com.hallbookingmanagement.controller.ForgetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPasswordServlet</servlet-name>
    <url-pattern>/ForgetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OTPVerifierServlet</display-name>
    <servlet-name>OTPVerifierServlet</servlet-name>
    <servlet-class>com.hallbookingmanagement.controller.OTPVerifierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OTPVerifierServlet</servlet-name>
    <url-pattern>/OTPVerifierServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HallsServlet</display-name>
    <servlet-name>HallsServlet</servlet-name>
    <servlet-class>com.hallbookingmanagement.controller.HallsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HallsServlet</servlet-name>
    <url-pattern>/HallsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HallDetailServlet</display-name>
    <servlet-name>HallDetailServlet</servlet-name>
    <servlet-class>com.hallbookingmanagement.controller.HallDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HallDetailServlet</servlet-name>
    <url-pattern>/HallDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestHallServlet</display-name>
    <servlet-name>RequestHallServlet</servlet-name>
    <servlet-class>com.hallbookingmanagement.controller.RequestHallServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestHallServlet</servlet-name>
    <url-pattern>/RequestHallServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentServlet</display-name>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>com.hallbookingmanagement.controller.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentServlet</servlet-name>
    <url-pattern>/PaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserBooking</display-name>
    <servlet-name>UserBooking</servlet-name>
    <servlet-class>com.hallbookingmanagement.controller.UserBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserBooking</servlet-name>
    <url-pattern>/UserBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyRequestsServlet</display-name>
    <servlet-name>MyRequestsServlet</servlet-name>
    <servlet-class>com.hallbookingmanagement.controller.MyRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyRequestsServlet</servlet-name>
    <url-pattern>/MyRequestsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentGatewayServlet</display-name>
    <servlet-name>PaymentGatewayServlet</servlet-name>
    <servlet-class>com.hallbookingmanagement.controller.PaymentGatewayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentGatewayServlet</servlet-name>
    <url-pattern>/PaymentGatewayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentPayedServlet</display-name>
    <servlet-name>PaymentPayedServlet</servlet-name>
    <servlet-class>com.hallbookingmanagement.controller.PaymentPayedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentPayedServlet</servlet-name>
    <url-pattern>/PaymentPayedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.hallbookingmanagement.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>