<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" metadata-complete="false" version="5.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>UserValidation</display-name>
    <servlet-name>UserValidation</servlet-name>
    <servlet-class>com.taskmanagement.controller.UserValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserValidation</servlet-name>
    <url-pattern>/UserValidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskCountController</display-name>
    <servlet-name>TaskCountController</servlet-name>
    <servlet-class>com.taskmanagement.controller.TaskCountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskCountController</servlet-name>
    <url-pattern>/TaskCountController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeServlet</display-name>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>com.taskmanagement.controller.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/EmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeDashBoard</display-name>
    <servlet-name>EmployeeDashBoard</servlet-name>
    <servlet-class>com.taskmanagement.controller.EmployeeDashBoard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeDashBoard</servlet-name>
    <url-pattern>/EmployeeDashBoard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PendingTask</display-name>
    <servlet-name>PendingTask</servlet-name>
    <servlet-class>com.taskmanagement.controller.PendingTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PendingTask</servlet-name>
    <url-pattern>/PendingTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompletedTask</display-name>
    <servlet-name>CompletedTask</servlet-name>
    <servlet-class>com.taskmanagement.controller.CompletedTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompletedTask</servlet-name>
    <url-pattern>/CompletedTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OverlayedTask</display-name>
    <servlet-name>OverlayedTask</servlet-name>
    <servlet-class>com.taskmanagement.controller.OverlayedTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OverlayedTask</servlet-name>
    <url-pattern>/OverlayedTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignedTask</display-name>
    <servlet-name>AssignedTask</servlet-name>
    <servlet-class>com.taskmanagement.controller.AssignedTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignedTask</servlet-name>
    <url-pattern>/AssignedTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonalTask</display-name>
    <servlet-name>PersonalTask</servlet-name>
    <servlet-class>com.taskmanagement.controller.PersonalTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalTask</servlet-name>
    <url-pattern>/PersonalTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonalTaskAdd</display-name>
    <servlet-name>PersonalTaskAdd</servlet-name>
    <servlet-class>com.taskmanagement.controller.PersonalTaskAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalTaskAdd</servlet-name>
    <url-pattern>/PersonalTaskAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPersonalTask</display-name>
    <servlet-name>EditPersonalTask</servlet-name>
    <servlet-class>com.taskmanagement.controller.EditPersonalTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPersonalTask</servlet-name>
    <url-pattern>/EditPersonalTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfile</display-name>
    <servlet-name>EditProfile</servlet-name>
    <servlet-class>com.taskmanagement.controller.EditProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfile</servlet-name>
    <url-pattern>/EditProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTaskController</display-name>
    <servlet-name>UpdateTaskController</servlet-name>
    <servlet-class>com.taskmanagement.controller.UpdateTaskController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTaskController</servlet-name>
    <url-pattern>/UpdateTaskController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTaskControllerPending</display-name>
    <servlet-name>UpdateTaskControllerPending</servlet-name>
    <servlet-class>com.taskmanagement.controller.UpdateTaskControllerPending</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTaskControllerPending</servlet-name>
    <url-pattern>/UpdateTaskControllerPending</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.taskmanagement.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerDashBoard</display-name>
    <servlet-name>ManagerDashBoard</servlet-name>
    <servlet-class>com.taskmanagement.controller.ManagerDashBoard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerDashBoard</servlet-name>
    <url-pattern>/ManagerDashBoard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MAssignedTask</display-name>
    <servlet-name>MAssignedTask</servlet-name>
    <servlet-class>com.taskmanagement.controller.MAssignedTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MAssignedTask</servlet-name>
    <url-pattern>/MAssignedTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MCompletedTask</display-name>
    <servlet-name>MCompletedTask</servlet-name>
    <servlet-class>com.taskmanagement.controller.MCompletedTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MCompletedTask</servlet-name>
    <url-pattern>/MCompletedTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MPendingTask</display-name>
    <servlet-name>MPendingTask</servlet-name>
    <servlet-class>com.taskmanagement.controller.MPendingTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MPendingTask</servlet-name>
    <url-pattern>/MPendingTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MOverlayedTask</display-name>
    <servlet-name>MOverlayedTask</servlet-name>
    <servlet-class>com.taskmanagement.controller.MOverlayedTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MOverlayedTask</servlet-name>
    <url-pattern>/MOverlayedTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MPersonalTask</display-name>
    <servlet-name>MPersonalTask</servlet-name>
    <servlet-class>com.taskmanagement.controller.MPersonalTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MPersonalTask</servlet-name>
    <url-pattern>/MPersonalTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MPersonalTaskAdd</display-name>
    <servlet-name>MPersonalTaskAdd</servlet-name>
    <servlet-class>com.taskmanagement.controller.MPersonalTaskAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MPersonalTaskAdd</servlet-name>
    <url-pattern>/MPersonalTaskAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MEditPersonalTask</display-name>
    <servlet-name>MEditPersonalTask</servlet-name>
    <servlet-class>com.taskmanagement.controller.MEditPersonalTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MEditPersonalTask</servlet-name>
    <url-pattern>/MEditPersonalTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskCreation</display-name>
    <servlet-name>TaskCreation</servlet-name>
    <servlet-class>com.taskmanagement.controller.TaskCreation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskCreation</servlet-name>
    <url-pattern>/TaskCreation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskManage</display-name>
    <servlet-name>TaskManage</servlet-name>
    <servlet-class>com.taskmanagement.controller.TaskManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskManage</servlet-name>
    <url-pattern>/TaskManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MUpdateTaskControllerPending</display-name>
    <servlet-name>MUpdateTaskControllerPending</servlet-name>
    <servlet-class>com.taskmanagement.controller.MUpdateTaskControllerPending</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MUpdateTaskControllerPending</servlet-name>
    <url-pattern>/MUpdateTaskControllerPending</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MUpdateTaskController</display-name>
    <servlet-name>MUpdateTaskController</servlet-name>
    <servlet-class>com.taskmanagement.controller.MUpdateTaskController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MUpdateTaskController</servlet-name>
    <url-pattern>/MUpdateTaskController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateOverlayed</display-name>
    <servlet-name>UpdateOverlayed</servlet-name>
    <servlet-class>com.taskmanagement.controller.UpdateOverlayed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOverlayed</servlet-name>
    <url-pattern>/UpdateOverlayed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MUpdateOverlayed</display-name>
    <servlet-name>MUpdateOverlayed</servlet-name>
    <servlet-class>com.taskmanagement.controller.MUpdateOverlayed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MUpdateOverlayed</servlet-name>
    <url-pattern>/MUpdateOverlayed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditTask</display-name>
    <servlet-name>EditTask</servlet-name>
    <servlet-class>com.taskmanagement.controller.EditTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTask</servlet-name>
    <url-pattern>/EditTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTask</display-name>
    <servlet-name>DeleteTask</servlet-name>
    <servlet-class>com.taskmanagement.controller.DeleteTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTask</servlet-name>
    <url-pattern>/DeleteTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MDeleteTaskPerosnal</display-name>
    <servlet-name>MDeleteTaskPerosnal</servlet-name>
    <servlet-class>com.taskmanagement.controller.MDeleteTaskPerosnal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MDeleteTaskPerosnal</servlet-name>
    <url-pattern>/MDeleteTaskPerosnal</url-pattern>
  </servlet-mapping>
</web-app>