<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.issueraisesystem.beans.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.issuesystem.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginDAO</display-name>
    <servlet-name>LoginDAO</servlet-name>
    <servlet-class>com.issuesystem.dao.LoginDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginDAO</servlet-name>
    <url-pattern>/LoginDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupervisorController</display-name>
    <servlet-name>SupervisorController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.SupervisorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupervisorController</servlet-name>
    <url-pattern>/SupervisorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentController</display-name>
    <servlet-name>StudentController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.StudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentController</servlet-name>
    <url-pattern>/StudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TicketRaiseController</display-name>
    <servlet-name>TicketRaiseController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.TicketRaiseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketRaiseController</servlet-name>
    <url-pattern>/TicketRaiseController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewTicketRaisingController</display-name>
    <servlet-name>NewTicketRaisingController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.NewTicketRaisingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewTicketRaisingController</servlet-name>
    <url-pattern>/NewTicketRaisingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewTicketController</display-name>
    <servlet-name>NewTicketController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.NewTicketController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewTicketController</servlet-name>
    <url-pattern>/NewTicketController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OldTicketController</display-name>
    <servlet-name>OldTicketController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.OldTicketController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OldTicketController</servlet-name>
    <url-pattern>/OldTicketController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WardenController</display-name>
    <servlet-name>WardenController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.WardenController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WardenController</servlet-name>
    <url-pattern>/WardenController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupervisorsController</display-name>
    <servlet-name>SupervisorsController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.SupervisorsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupervisorsController</servlet-name>
    <url-pattern>/SupervisorsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfile</display-name>
    <servlet-name>EditProfile</servlet-name>
    <servlet-class>com.issueraisesystem.controller.EditProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfile</servlet-name>
    <url-pattern>/EditProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TotalIssueController</display-name>
    <servlet-name>TotalIssueController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.TotalIssueController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TotalIssueController</servlet-name>
    <url-pattern>/TotalIssueController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDashboardController</display-name>
    <servlet-name>AdminDashboardController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.AdminDashboardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDashboardController</servlet-name>
    <url-pattern>/AdminDashboardController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminTotalIssueController</display-name>
    <servlet-name>AdminTotalIssueController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.AdminTotalIssueController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminTotalIssueController</servlet-name>
    <url-pattern>/AdminTotalIssueController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminIssueCompleted</display-name>
    <servlet-name>AdminIssueCompleted</servlet-name>
    <servlet-class>com.issueraisesystem.controller.AdminIssueCompleted</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIssueCompleted</servlet-name>
    <url-pattern>/AdminIssueCompleted</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminReportController</display-name>
    <servlet-name>AdminReportController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.AdminReportController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminReportController</servlet-name>
    <url-pattern>/AdminReportController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminReportManagementController</display-name>
    <servlet-name>AdminReportManagementController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.AdminReportManagementController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminReportManagementController</servlet-name>
    <url-pattern>/AdminReportManagementController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminIssueRaised</display-name>
    <servlet-name>AdminIssueRaised</servlet-name>
    <servlet-class>com.issueraisesystem.controller.AdminIssueRaised</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIssueRaised</servlet-name>
    <url-pattern>/AdminIssueRaised</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminIssueAssigned</display-name>
    <servlet-name>AdminIssueAssigned</servlet-name>
    <servlet-class>com.issueraisesystem.controller.AdminIssueAssigned</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIssueAssigned</servlet-name>
    <url-pattern>/AdminIssueAssigned</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminIssueInprogress</display-name>
    <servlet-name>AdminIssueInprogress</servlet-name>
    <servlet-class>com.issueraisesystem.controller.AdminIssueInprogress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIssueInprogress</servlet-name>
    <url-pattern>/AdminIssueInprogress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSupervisorController</display-name>
    <servlet-name>AdminSupervisorController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.AdminSupervisorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSupervisorController</servlet-name>
    <url-pattern>/AdminSupervisorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminStudentController</display-name>
    <servlet-name>AdminStudentController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.AdminStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminStudentController</servlet-name>
    <url-pattern>/AdminStudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminWorkersController</display-name>
    <servlet-name>AdminWorkersController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.AdminWorkersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminWorkersController</servlet-name>
    <url-pattern>/AdminWorkersController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminStudentUserController</display-name>
    <servlet-name>AdminStudentUserController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.AdminStudentUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminStudentUserController</servlet-name>
    <url-pattern>/AdminStudentUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentController</display-name>
    <servlet-name>AddStudentController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.AddStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentController</servlet-name>
    <url-pattern>/AddStudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentMobileDataController</display-name>
    <servlet-name>StudentMobileDataController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.StudentMobileDataController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentMobileDataController</servlet-name>
    <url-pattern>/StudentMobileDataController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentMailController</display-name>
    <servlet-name>StudentMailController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.StudentMailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentMailController</servlet-name>
    <url-pattern>/StudentMailController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDeleteController</display-name>
    <servlet-name>StudentDeleteController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.StudentDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDeleteController</servlet-name>
    <url-pattern>/StudentDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStudentController</display-name>
    <servlet-name>EditStudentController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.EditStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStudentController</servlet-name>
    <url-pattern>/EditStudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminWorkerManagementController</display-name>
    <servlet-name>AdminWorkerManagementController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.AdminWorkerManagementController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminWorkerManagementController</servlet-name>
    <url-pattern>/AdminWorkerManagementController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WorkerMobileDataController</display-name>
    <servlet-name>WorkerMobileDataController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.WorkerMobileDataController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkerMobileDataController</servlet-name>
    <url-pattern>/WorkerMobileDataController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddWorkerController</display-name>
    <servlet-name>AdminAddWorkerController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.AdminAddWorkerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddWorkerController</servlet-name>
    <url-pattern>/AdminAddWorkerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteWorkerController</display-name>
    <servlet-name>AdminDeleteWorkerController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.AdminDeleteWorkerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteWorkerController</servlet-name>
    <url-pattern>/AdminDeleteWorkerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditWorkerController</display-name>
    <servlet-name>EditWorkerController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.EditWorkerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditWorkerController</servlet-name>
    <url-pattern>/EditWorkerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WardenManagementController</display-name>
    <servlet-name>WardenManagementController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.WardenManagementController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WardenManagementController</servlet-name>
    <url-pattern>/WardenManagementController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddWardenController</display-name>
    <servlet-name>AddWardenController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.AddWardenController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddWardenController</servlet-name>
    <url-pattern>/AddWardenController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WardentMailController</display-name>
    <servlet-name>WardentMailController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.WardentMailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WardentMailController</servlet-name>
    <url-pattern>/WardentMailController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteWardenController</display-name>
    <servlet-name>DeleteWardenController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.DeleteWardenController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteWardenController</servlet-name>
    <url-pattern>/DeleteWardenController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminWardenController</display-name>
    <servlet-name>AdminWardenController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.AdminWardenController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminWardenController</servlet-name>
    <url-pattern>/AdminWardenController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuperVisorManagement</display-name>
    <servlet-name>SuperVisorManagement</servlet-name>
    <servlet-class>com.issueraisesystem.controller.SuperVisorManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuperVisorManagement</servlet-name>
    <url-pattern>/SuperVisorManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSupervisorController</display-name>
    <servlet-name>DeleteSupervisorController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.DeleteSupervisorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSupervisorController</servlet-name>
    <url-pattern>/DeleteSupervisorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSupervisorController</display-name>
    <servlet-name>AddSupervisorController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.AddSupervisorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSupervisorController</servlet-name>
    <url-pattern>/AddSupervisorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupervisorMailidController</display-name>
    <servlet-name>SupervisorMailidController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.SupervisorMailidController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupervisorMailidController</servlet-name>
    <url-pattern>/SupervisorMailidController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditSuperVisorController</display-name>
    <servlet-name>EditSuperVisorController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.EditSuperVisorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditSuperVisorController</servlet-name>
    <url-pattern>/EditSuperVisorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WardenDashBoardController</display-name>
    <servlet-name>WardenDashBoardController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.WardenDashBoardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WardenDashBoardController</servlet-name>
    <url-pattern>/WardenDashBoardController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WardenServletController</display-name>
    <servlet-name>WardenServletController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.WardenServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WardenServletController</servlet-name>
    <url-pattern>/WardenServletController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageTicketController</display-name>
    <servlet-name>ManageTicketController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.ManageTicketController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageTicketController</servlet-name>
    <url-pattern>/ManageTicketController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignSupervisorController</display-name>
    <servlet-name>AssignSupervisorController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.AssignSupervisorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignSupervisorController</servlet-name>
    <url-pattern>/AssignSupervisorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WardenStudentRoomController</display-name>
    <servlet-name>WardenStudentRoomController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.WardenStudentRoomController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WardenStudentRoomController</servlet-name>
    <url-pattern>/WardenStudentRoomController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WardenStudentRoomChangeController</display-name>
    <servlet-name>WardenStudentRoomChangeController</servlet-name>
    <servlet-class>com.issueraisesystem.controller.WardenStudentRoomChangeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WardenStudentRoomChangeController</servlet-name>
    <url-pattern>/WardenStudentRoomChangeController</url-pattern>
  </servlet-mapping>
</web-app>