
 .top-navbar{
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-link{
    color: rgb(27,99,174);
    font-size: 16px;
    font-weight: 500;
}

.btn-serch{
    background-color: rgb(27,99,174);
    color: white;
    border-radius: 5px;

}




/*The code for search bar in navbar*/

.search-bar-container {
    flex-grow: 1;
    max-width: 600px; /* Adjust this value as needed */
}
.search-bar-container input {
    width: 100%;
}

/*The code for search bar in navbar*/

.btnn{
    /* width: 30px; */
    background-color:rgb(27,99,174) !important;
    /* border-radius: 200% !important; */
    /* border-radius: 250px !important; */
    color: white;
}

.txt-nav{
    color: rgb(19,77,133);
}

.btn-serch:hover,.btnn:hover{
    border-color: rgb(27,99,174);
    background-color: white !important;
    color: rgb(27,99,174);
}

.carousel-item {
    transition: transform 10s ease !important;
}

#option-menu{
    margin-top: 160px;
}

.items{
    margin-left: 15%;
    
}


#reg-body{
   background-color: #f4f4f4 !important;
   display: flex !important;
   justify-content: center !important;
   align-items: center !important;
   height: 100vh !important;
   margin: 0;
}

.txt-sign-up{
    color: rgb(27, 99, 174) !important;
}

.container {
    max-width: 60% !important;
    
}

.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
}



.vh-100 {
min-height: 100vh;
}
#outer-boxx {
width: 35% !important;
}
.bg-custom {
 background-color: rgb(27, 99, 174) !important;
}
.clr-custom {
color: rgb(27, 99, 174) !important;
}
.bg-outline-custom {
border-color: rgb(27, 99, 174) !important;
color: rgb(27, 99, 174) !important;
}
.bg-outline-custom:hover {
background-color: rgb(27, 99, 174) !important;
color: white !important;
}
.bg-outline-custom2 {
border-color: rgb(244, 119, 32) !important;
color: rgb(244, 119, 32) !important;
}
.bg-outline-custom2:hover {
background-color: rgb(244, 119, 32) !important;
color: white !important;
}
.clr-custom2 {
color: rgb(244, 119, 32) !important;
}

.needed:after{
        content:attr(value);
        font-size:10px;
        color: white;
        background: rgb(244,119,32);
        border-radius:50%;
        padding:3px 4px;
        position:relative;
        left:-8px;
        top:-10px;
        opacity:0.9;
        margin-right:-7px;
    }   

.main-navbar .top-navbar .dropdown-menu .dropdown-item i,#main-navv .dropdown-menu .dropdown-item i{
    width: 20px !important;
    text-align: center !important;
    color: rgb(27,99,174) !important;
    font-size: 14px;
}
.main-navbar .navbar{
    padding: 0px;
    background-color: #ddd;
}
.main-navbar .navbar .nav-item .nav-link,#main-navv .nav-link{
    padding: 8px 20px;
    color: rgb(27,99,174) !important;
    font-size: 15px;
}

.main-navbar .navbar{
    padding: 0px;
    background-color: #ddd;
}
.main-navbar .navbar .nav-item .nav-link{
    padding: 8px 20px;
    color: rgb(27,99,174);
    font-size: 15px;
}

/* @media only screen and (max-width: 600px) {
    .main-navbar .top-navbar .nav-link{
        font-size: 12px;
        padding: 8px 10px;
    }
} */


/*Footer style*/

.footer {
    background-color: #f8f9fa;
    padding: 40px 0;
  }
  .footer h5 {
    margin-bottom: 20px;
    font-weight: bold;
  }
  .footer a {
    color: rgb(27,99,174);
    text-decoration: none;
  }
  .footer a:hover {
    color: grey;
    /* text-decoration: underline; */
  }
  .footer .social-icons a {
    font-size: 1.5rem;
    margin-right: 10px;
    color:rgb(27,99,174);
  }
  .footer .social-icons a:hover {
    color: rgb(27,99,174);
  }




/*This is for the product pages*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.top-cat-menu:hover {
    color: rgb(27, 99, 174) !important;
}

.categorya {
    font-size: 13px;
    color: grey;
    margin: 0;
}

a {
    text-decoration: none;
}

.cat-menu-container{
    width: 900px !important;
}

.btn-serch{
    background-color: rgb(27, 99, 174);
}

/*For Mobiles Page*/

.product-cardd{
    /* margin-left: 20%; */
}

@media (max-width: 576px) {
    .product-cardd {
        flex-direction: row;
        font-size: 5px;
        /* align-items: center; */
        padding: 1rem;
    }

    .product-price h2{
        font-size: 16px;
    }

    .product-cardd h5,.product-cardd label{
        font-size: 8px;
    }

    .product-cardd input{
        height: 5px;
        width: 4px;
    }

    .product-info a, .product-info span{
        padding: 2px !important;
        border-radius: 2px !important;
        height: 4px !important;
        width: 20px !important;
        font-size: 5px !important;
        
        /* text-align: center; */
    }
}

/*For Cart Page*/

.body-container{
    padding-left: 10% !important;
    padding-right: 10% !important;
    margin-top: 160px;
    /* padding: 0; */
}

.btn-change{
    color: rgb(27, 99, 174) !important;
    border-radius: 1px !important;
    border-color: rgb(27, 99, 174) !important;
    /* background-color: #080808; */
}

.btn-change:hover{
    color: white !important;
    background-color: rgb(27, 99, 174) !important;
}

.amount-line{
    border-top:1px dashed grey;
}

.box-one{
    align-self:flex-end !important;
    color: wheat;
}

a{
    text-decoration: none !important;
}

.cart-below a:hover{
    color: rgb(27, 99, 174) !important;
}

.feature-title-desc{
    font-weight: 500px;
}

.custom-box-border{
    border-width: 1px 1px 0px 1px !important;
    border-color: rgb(240, 240, 240) !important;
    border-style: solid !important;
}

.custom-box-border-last{
    border-width: 1px 1px 1px 1px !important;
    border-color: rgb(240, 240, 240) !important;
    border-style: solid !important;
}

.card-product{
    border-style: solid;
            border-color: whitesmoke;
            border-bottom-width: 1px;
            border-top-width: 1px;
            border-left-width: 0px;
            border-right-width: 0px;
    
}

/* 
.confirm-delete:hover{
    color: rgb(27, 99, 174) !important;
    font-weight: 500;
}
.remove-cart{
    font-weight: 500 !important;
}

.remove-cart:hover{
    color: rgb(27, 99, 174) !important;
} */

.increment-btn,.decrement-btn{
    border-radius: 150px !important;
    border-color: gray !important;
    border-style: solid !important;
    color: black !important;
}

.toast-container {
    position:fixed !important;
    top: 1px;
    /* top:190px; */
    right: 20px;
    z-index: 1050;
}

.btn-cart-order{
    border-style: none;
    font-size: 20px !important;
    padding-left: 70px !important;
    padding-right: 70px !important;
   padding-top: 15px !important;
   padding-bottom: 15px !important;
    background-color: rgb(244,119,32) !important;
    color: white !important;
}

.policy a{
    color: grey !important;
}

.policy a:hover,.follow-us a:hover i{
    color: rgb(27, 99, 174) !important;
}

.remove-cart:hover{
    background-color: rgb(27, 99, 174) !important;
    color: white !important;
}

.remove-cart{
    color: rgb(27, 99, 174) !important;
    background-color: white !important;
    border-color: rgb(27, 99, 174) !important;

}

input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type="number"] {
            -moz-appearance: textfield;
            border-width: 1px !important;
        }

        /* General removal for additional compatibility */
        input[type="number"] {
            -webkit-appearance: none;
            -moz-appearance: textfield;
            appearance: none;
        }

/* For the ProductShowPage Decorations */

.product-content{
    margin-left: 5%;
    margin-right: 5%;
    margin-top:5px !important;
}


.larger-img img{
    max-height: 450px !important;
    /* width: 200px !important; */
}


.larger-img{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100% !important;
}

.small-imgs div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78px;
    width: 80px;
}

.small-image:hover{
    border-style: solid;
    border-width: 2px !important;
    border-color:rgb(27, 99, 174) !important;
}

.small-imgs img{
    max-height: 60px !important;
    max-width: 60px !important;
    /* width: 50px; */
}


.btn-add-cart{
    background-color: rgb(244,119,32) !important;
    color: white !important;
    
    font-weight: 600;
}

.btn-buy-now{
    background-color: rgb(249,155,29) !important;
    color: white !important;
    
    font-weight: 600;
}

.disp-img-big{
    text-align: center;
    align-self: center !important;
}

.diff-colours{
    height: 120px !important;
    width: 70px !important;
    border-style: solid !important;
    border-color: grey !important;
}

.ram-options{
    border-width: 2px !important;
    border-style: solid !important;
    border-color: aquamarine !important;
}


.diff-colours img{
    max-height: 100px;
    max-width: 70px;
}

.product-outers{
    position: fixed;
    width:30%;
}

.offers img{
    height: 20px;
    width: 20px;
}

.warranty-line{
    align-self: center;
}


.wishlist-img{
    /* justify-self: left !important; */
    align-self:flex-start;
    justify-self: center !important;
}

.down-btns{
    margin-left: 78px;
}

.rating-box{
    height: 30px !important;
    align-self: center;
}

.rating-box .ratings-count{
    font-size: 14px !important;
}

.progress-circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    /* margin-top: 20px; */
    background: conic-gradient(#038107 calc(var(--progress) * 1%), #e6e6e6 0);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto 10px;
}

.progress-circle::before {
    content: '';
    width: 83%;
    height: 83%;
    border-radius: 50%;
    background: white;
    position: absolute;
}

.progress-value {
    position: relative;
    font-size: 20px;
}

.p-bar{
    height: 6px !important;
    width: 100% !important;
    /* margin-bottom: 17px !important; */
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.rate-btn{
    border-style: none;
    padding: 17px 25px !important;
    /* padding-left: 25px !important;
    padding-right: 25px !important;
    padding-top: 17px !important;
    padding-bottom: 17px !important; */
    font-weight: 600;
}


/*For the furniture page*/

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: transparent;
    border-color: transparent;
    border-bottom: 3px solid #000;
     
}

.nav-tabs>li>a{

  text-transform: uppercase;
  color: #000;
      font-weight: 500;
}

.nav-tabs .nav-link:hover {
    border-color: transparent;
    border-bottom: 3px solid #000
}

.navbar{

      border-bottom: 1px solid #00000012;
      padding-top: 0rem !important; 
      padding-bottom: 0rem !important;
          background-color: #ffffff!important;
}

.navbar-brand{

  font-size: 24px;
  text-transform: uppercase;
  font-family: 'Allerta Stencil', sans-serif;
  font-weight: 500;
}

.nav-tabs {
    border-bottom: none;
}

.card{

  border:none;
 
}

.card-body {
    flex: 1 1 auto;
    padding: 10px;
}

.card-text{

  font-size: 13px;
}

.guarantee{

  color: #05882c;
  margin-left: 4px;
  font-weight: 700

}

hr{
    margin: 0.2rem 0;
   color: #bfbebe;
}

.buttons button{

  text-transform: uppercase;
  font-size: 12px;
  border-radius: 2px;
}
