@charset "UTF-8";

.bg-light{
    background-color: #e0cab2 !important;
    grid-column: 4;
    grid-row: 1;
}

.subContainer{
    display:flex;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #2B1535;
}

.container{
    margin: 0px;
    padding: 0px;
}
.body{
    margin: 0px;
    padding: 0px;
}

.header .logo img{
    width: 120px;
    height: 100px ;
    margin: 0px;
    padding: 0px;
    filter: saturate(500%);
} 

/* Global styles */
* {
    margin: 0px;
    padding: 0px;
  }
  

  .header .profile img{
    width: 50px;
  }

  .profile h3{
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .profile h4{
    margin-left: 30px;

  }

  .profile{
    display: flex;
    position: relative;
  }

  .vertical-nav {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color:rgba(216, 160, 243, 0.447);
    height: 100vh;
    width:200px; /* Adjust the width as needed */
}
.vertical-nav .nav-link {
    color: rgb(0, 0, 0);
}

.vertical-nav nav ul li:hover {
    background-color:rgba(213, 158, 238, 0.577);
}

.vertical-nav nav ul li a:hover {
    
    color: #000000;
}

.vertical-nav nav{
    padding-right: 0px;
    margin-right: 0px;
} 

.main-left-nav{
    padding-top:0px;
    padding-bottom: 0px;
}

.vertical-nav nav ul li{
    padding-top:5px ;
    padding-bottom:5px ;
    margin-top:0px;
    margin-bottom: 0px; ;
}

.bookingCard{
    background-color: #e8b1ff94;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 30px;
    margin-left: 10px;
    width: 270px;
    height: 160px;
    padding: 2px;
}
.bookingtitle{
    margin-left:30px ;
    margin-bottom: 20px;
    margin-top: 20px;
}
.innerCard{
    display: flex; 
    justify-content: space-around; 
    margin-top:8px ; 
}

.innerCard .thisMonth p, .thisMonthPercent p{
    font-weight: 600;
}
.bookingCard h6{
    margin-left: 30px;
}

.card1-title{
    margin-bottom: 8px;
}

#checkin{
    margin-top:0px ;
}
#checkin-checkout{
    margin-bottom:0px !important ;
}
.thisMonth .booking{
    justify-content: flex-start;
}

.PendingBookings{
    border-radius: 20px;
    background-color: #e8b1ff91;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 30px;
    margin-left: 10px;
    width: 270px;
    height: 160px;
    padding: 2px;
}

.PendingBookings h3{
    margin-left:30px ;
    margin-bottom: 20px;
    margin-top: 20px;
}

.PendingBookings p{
    border-radius: 20px;
    font-weight: 600;
    font-size: 50px;
    margin-left:10px ;
    color: red;
    margin-bottom: 2px;
}
#company-logo{
    margin-top: 10%;
    width: 200px;
    height: 50px;
}
